{% extends "TEPlatformBundle:Core:layout.html.twig" %}

{% block title %}Log In{% endblock %}

{% block content %}    
	{% if error %}
	    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post" class="ConnexionForm">
	    <input class="hidden" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <label class="hidden" for="username">{{ 'security.login.username'|trans }}</label>
	    <input placeholder="Pseudo" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
		<br>
	    <label class="hidden" for="password">{{ 'security.login.password'|trans }}</label>
	    <input placeholder="Mot de passe" type="password" id="password" name="_password" required="required" />
		<br>
	    
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		<label for="remember_me">Mémoriser ma connexion</label>
		<br>
	    <input type="submit" id="_submit" name="_submit" value="Connexion " class="Btn" />
	</form>

{% endblock %}