<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    {% block stylesheets %}
        <link href="{{ asset('bower_components/sweetalert/lib/sweet-alert.css') }}" rel="stylesheet" />
        <link href="{{ asset('bower_components/knacss/css/knacss.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% endblock %}


    <title>{% block title %}Travel Express{% endblock %}</title>
</head>
<body>

    <header class="Header">
        <nav class="Header-nav">
            <h1> <a href="{{ path('te_platform_homepage') }}">Travel Express</a></h1>
            <ul class="Menu">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <li class="MenuItem active">
                    <a href="{{ path('te_platform_homepage') }}">Acceuil</a>
                  </li>
                  <li class="MenuItem active">
                    <a href="{{ path('te_lift_add') }}">Ajouter trajet</a>
                  </li>
                  <li class="MenuItem active">
                    {#
                    <a href="{{path('te_user_profile', {'id':app.user.id})}}">Mon profil</a>
                    #}
                  </li>
                  <li class="MenuItem active">
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                  </li>
                {% else %}
                  <li class="MenuItem active">
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                  </li>
                  <li class="MenuItem active">
                    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                  </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="Main">
      <div class="Main-wrapper">
      {% block content %}

      {% endblock %}
      </div>
    </main>

    <footer class="Footer">
      <div class="FooterContent">
        <div id="JsFlashBagsNotices" class="hidden">
          {% for flashMessage in app.session.flashbag.get('notice') %}
            {{ flashMessage }}
          {% endfor %}
        </div>
        <div id="JsFlashBagsErrors" class="hidden">
          {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
          {% endfor %}
        </div>
      </div>
    </footer>

    {% block javascripts %}
        <script src="{{ asset('bower_components/sweetalert/lib/sweet-alert.min.js') }}"></script>
        <script src="{{ asset('bower_components/jquery/dist/jquery.js') }}"></script>
        <script src="{{ asset('js/chrome.js') }}"></script>
    {% endblock %}
</body>
</html>
