{% extends "TEPlatformBundle:Core:layout.html.twig" %}

{% block body %}
  <form action="" class="Search autogrid3">
      <div>
      <label for="depart" class="hidden">Ville de départ</label>
      <input type="text" placeholder="Ville de départ" id="depart">
      </div>
      <div>
      <label for="arivee" class="hidden">Ville d'arrivée</label>
      <input type="text" placeholder="Ville d'arrivée" id="arivee">
      </div>
      <div>
      <input type="submit" class="Btn" value="Rechercher">
      </div>
  </form>
  <ul class="Lifts">
      {% for lift in lifts %}
        <li>
            <article class="Lift">
                <a href="{{ path('te_lift_view', {'id':lift.id})}}">
                  <h2 class="LiftTitle">{{lift.fromCity}} - {{lift.toCity}}</h2>
                </a>
                <p class="LiftText">
                    <span class="Date">Date : {{lift.dateLift|date('d F Y H:i')}}</span><br>
                    <span class="Places">Places disponibles : {{lift.seats}}</span><br>
                    <span class="Price">Prix total : {{lift.price}}</span>
                </p>
            </article>
        </li>
    {% endfor %}
  </ul>
{% endblock %}
