{% extends "TEPlatformBundle:Core:layout.html.twig" %}

{% block content %}
<article class="Lift
  {% if lift.isAvailable %}
    ">
  {% else %}
    notAviable">
    <div class="Complete">
      complet !
    </div>
  {% endif %}
    <h2 class="LiftTitle">
      <span class="capitalize">
        {{lift.fromCity}}
      </span> 
      <i class="fa fa-long-arrow-right"></i> 
      <span class="capitalize">
        {{lift.toCity}}
      </span>
    </h2>

    <p class="LiftText">
        <i class="fa fa-car"></i>
        <span class="capitalize">
          <a href="{{path('te_user_profile', {'id':lift.driver.id})}}">{{lift.driver}}</a>
        </span>
        {% if evalDriver == -1 %}
          <span class="Eval">
            Ce conducteur n'a pas encore été noté
        {% else %}
          {% if evalDriver > 49 %}
            <span class="Eval positif">
          {% else %}
            <span class="Eval negatif">
          {% endif %}
          {{evalDriver}} %
        {% endif %}
        </span>
      {% if not isDriver %}
        {% if isSubscribed %}
          <span class="Notation">
            <a href="{{ path('te_eval_positive', {'id':booked.id})}}">
              <i class="fa fa-plus"></i>
            </a>
            <a href="{{ path('te_eval_negative', {'id':booked.id})}}">
              <i class="fa fa-minus"></i>
            </a>
          </span>
        {% endif %}
      {% endif %}
        <br>
        
        <i class="fa fa-calendar"></i>
        {{lift.dateLift|date('Y-m-d H:i')}}
        <br>
        
        <i class="fa fa-user"></i>
        {{seatsAvailable}}
        <br>
        
        <i class="fa fa-usd"></i>
        {{lift.price}}
    </p>

    <div class="LiftAdditionalInfos">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if isDriver %}
          {% if passengers %}
            <h3>Passagers inscrits</h3>
            <ul>
              {% for passenger in passengers %}
                <li><a href="mailto:{{passenger.user.email}}">{{passenger.user.username}}</a> pour {{passenger.seats}} sièges</li>
              {% endfor %}
            </ul>
          {% else %}
            <h3>Aucun passager inscrit à votre lift :(</h3>
          {% endif %}
        {% else %}
          {% if isSubscribed %}
            <a class="Btn" href="{{ path('te_booked_unsubscribe', {'id':booked.id})}}">Se désinscrire</a>
          {% else %}
            {% if lift.isAvailable %}
              <form class="" action="{{ path('te_booked_subscribe', {'id':booked.id})}}" method="post">
                <input type="number" value="1" max="6" min="1" step="1" name="seats" value="1">
                <input type="submit" name="name" value="Réserver" class="Btn">
              </form>
            {% endif %}
          {% endif %}
        {% endif %}
      {% else %}
      <a class="Btn" href="{{ path('fos_user_registration_register') }}">Inscrivez vous pour réserver !</a>
    {% endif %}
    </div>

</article>

{% endblock %}
