{% extends "TEPlatformBundle:Core:layout.html.twig" %}

{% block content %}
<article class="Lift details">
    <h2 class="LiftTitle">{{lift.fromCity}} - {{lift.toCity}}</h2>
    <p class="LiftText">
        Conducteur : {{lift.driver}} <span class="Eval positif">+3</span><br>
        Date : {{lift.dateLift|date('Y-m-d H:i')}}<br>
        Places disponibles : {{lift.seats}}<br>
        Prix total : {{lift.price}}
    </p>

    <div class="LiftAdditionalInfos">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    
        {% if isDriver %}
          <h3>Passagers inscrits</h3>
          <ul>
            {% for passenger in passengers %}
              <li><a href="mailto:{{passenger.user.email}}">{{passenger.user.username}}</a> pour {{passenger.seats}} sièges</li>
            {% endfor %}
          </ul>
        {% else %}
          {% if isSubscribed %}
            <a class="Btn" href="{{ path('te_booked_unsubscribe', {'id':booked.id})}}">Se désinscrire</a>
          {% else %}
            <a class="Btn" href="{{ path('te_booked_subscribe', {'id':booked.id})}}">S'inscrire</a>
          {% endif %}

        {% endif %}
      
    {% else %}
      <a class="Btn" href="{{ path('fos_user_registration_register') }}">Inscrivez vous pour réserver !</a>
    {% endif %}
    </div>

</article>

{% endblock %}
