{% extends "TEPlatformBundle:Core:layout.html.twig" %}

{% block content %}
<article class="Lift details">
    <h2 class="LiftTitle">{{lift.fromCity}} - {{lift.toCity}}</h2>

    <p class="LiftText">
        <span class="Date">Date :{{lift.dateLift|date('Y-m-d H:i')}}</span><br>
        <span class="Places">Places disponibles : {{lift.seats}}</span><br>
        <span class="Price">Prix total : {{lift.price}}</span>
    </p>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <div class="LiftAdditionalInfos">
        {% if isDriver %}
          <h3>Passagers inscrits</h3>
          <ul>
            {% for passenger in passengers %}
              <li><a href="mailto:{{passenger.user.email}}">{{passenger.user.username}}</a> pour {{passenger.seats}} sièges</li>
            {% endfor %}
          </ul>
        {% else %}
          {% if isSubscribed %}
            <a class="Btn" href="{{ path('te_booked_unsubscribe', {'id':booked.id})}}">Se désinscrire</a>
          {% else %}
            <a class="Btn" href="{{ path('te_booked_subscribe', {'id':booked.id})}}">S'inscrire</a>
          {% endif %}
          
        {% endif %}
      </div>
    {% else %}

    {% endif %}
    
    
</article>

{% endblock %}
